body {


    background-color: black;
    font-family: "Helvetica", Arial;
    color: rgb(255, 205, 1)
}

.grand-titre {

    text-align: center;
    text-decoration: underline;
}

.gras {

    font-weight: bolder;

}

.liste-style {

    list-style: none;

}

li {

    text-align: justify;
}

/*lien animé*/

a {
    color: rgb(255, 205, 1);
    text-decoration: none;
    transition: color .3s;

}



a:hover {
    color: cyan;

}
