body {
    background-color: darkred;
    color: white;


}


h1,
.sommaire {

    text-align: center;

}


.titre {

    text-decoration: underline;


}



p {

    text-align: justify;
    font-family: "Courier New", Courier, Arial, cursive, serif;

    font-weight: bold;

}

/*image Arthur animé*/

img.anime {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-bottom: 0px;
    border-radius: 15px;
    transition: transform .5s;
}


img.anime:hover {

    transform: scale(1.1);

}

/*image flottante*/

img.flottant-gauche {

    float: left;
    border: solid;
    border-radius: 15px;
    margin: 10px;
    margin-left: 0px;


}

img.flottant-droite {

    float: right;
    border: solid;
    border-radius: 15px;
    margin-left: 10px;
    position: relative;
    bottom: 20px;



}


/*Lien animé changement couleur*/

a {
    color: white;
    text-decoration: none;
    transition: color .3s;

}




a:hover {
    color: yellowgreen;

}

/*Bouton haut de page*/

.button {
    background-color: forestgreen;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 1130px;
    margin-bottom: 15px;
    transition: transform .2s;
}

.button:hover {

    border-radius: 20px;
    transform: scale(1.1);
    color: white;

}
